autopep8
boto3
cryptography
Cython
docker
docutils
Django
flake8
ipython
Jinja2
jupyter
Markdown
matplotlib
numpy
pandas
pipenv
pytest
seaborn
sphinx
tensorflow
torch
regex
scikit-learn
scipy
SQLAlchemy
virtualenv
